*{
    -fx-mainColor: #201f41;
    -fx-secondColor:#0C0C28;
    -fx-thirdColor:#5C59FD;
    -fx-fourthColor:#D5E0FF;
    -fx-textColor:#E9E9F9;

    -fx-labelColor:#5F5DC7;
}
.root{

    -block-font-family: 'roboto';
    -fx-font-weight: bold;
    -fx-background-color: -fx-secondColor;
    -fx-background-radius: 15;
}

.top-bar-buttons{
    -fx-background-color: transparent;
    -fx-max-width: 33px;


}
.top-bar-buttons:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
/*   \\\\\\\\\\\\\\\\\\\\\\   customizing the  side-bar    ////////////////////////////////////   */

#sideBar{
    -fx-background-radius: 15 0 0 15 ;
    -fx-background-color: -fx-secondColor;
    -fx-border-width: 0 2 0 0 ;
    -fx-border-color: -fx-mainColor;
}
#sideBar #sidebar_btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
#sideBar #sideBar_vbox .button ,#signout_Btn{
    -fx-background-radius: 7px ;
    -fx-background-color: transparent;
    -fx-text-fill:-fx-textColor ;
    -fx-font-size: 20px;
    /*-fx-alignment: left;*/
    -fx-graphic-text-gap: 18;
    /*-fx-padding: 0 0 0 15px ;*/

    -fx-cursor: hand;
}


#sideBar #sideBar_vbox .button:selected ,.button:selected .awesome-icon ,.button:selected  .mfx-font-icon  {
    -fx-fill:-fx-mainColor;
    -mfx-color:-fx-mainColor;
    -fx-background-color: white;
    -fx-text-fill: -fx-mainColor;


}


.Panes{
    -fx-background-radius: 0 0 15 0;
    -fx-max-width: 1188;
    -fx-min-width: 1188;
    -fx-max-height: 678;
    -fx-min-height: 678;
    -fx-background-color: -fx-secondColor;
}

.goBackArrow{
    -fx-background-color: #f3f3f3;
    -fx-cursor: hand;
    -fx-shape:"M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z";
}