@import "adminPage.css";



.Panes{
    -fx-background-radius: 0 0 15 0;
    -fx-max-width: 1188;
    -fx-min-width: 1188;
    /*-fx-max-height: 678;*/
    -fx-min-height: 678;
    -fx-background-color: -fx-mainColor;
}



.chart-plot-background{
    -fx-background-color: transparent;

}
.chart .axis{
    /*-fx-indeterminate-bar-animation-time: 10;*/
    -fx-opacity: 0;
}


#barchart1  .chart-bar {
    -fx-bar-fill: #b97f24; /* Change the fill color of bars */
    -fx-background-radius: 10;

}
#barchart2  .chart-bar {
    -fx-bar-fill: #66369d; /* Change the fill color of bars */
    -fx-background-radius: 10;

}

.chart-pane{
    -fx-background-color: -fx-secondColor;
    -fx-background-radius: 13;
    /*-fx-effect: dropshadow(gaussian, #30307a, 4, 1, 3,7);*/
    -fx-effect: dropshadow(gaussian, #343460,2, 0,4,4);

}

.background-color{
    -fx-background-color: -fx-secondColor;
    -fx-background-radius: 0 15 15 0;
}

/* Define a CSS class for the pie chart */
.donut{
    -fx-font-size: 14;
    -fx-arc-width: 20;
    -fx-fill: transparent;
}