.root{
    -fx-background-color:#0C0C28 ;
}

 .top-bar-buttons{
    -fx-background-color: transparent;
    -fx-max-width: 33px;


}
.top-bar .top-bar-buttons:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
#main_pan{

    -fx-background-radius: 15px;
}



.mfx-text-field {
    -fx-font-size:16px ;
    -fx-font-weight: bold;
    -fx-font-family:"Roboto";
    -fx-border-width: 0 0 3px 0;
    -fx-padding: 12 0 -8 50;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: white;

}
#passwordField  .mfx-font-icon {
    -mfx-color: white;
}
.mfx-text-field .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: #c0c0c0;
}


#loginButton{

    -fx-background-radius: 7px;
    -fx-background-color: #5C59FD;
    -fx-font-size:21px;
    -fx-font-family: Calibri;
    -fx-font-weight: bolder;
    -fx-border-width: 2px;
    -fx-transition-duration:2s;

}

